.logCont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  background-color: var(--card-background);
  padding: 1.6rem;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 1rem;
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 0.4rem;
}

.form input {
  border: 1px solid var(--border-color);
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
}

.form input[type='submit'] {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.4rem;
}

.form h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.form h2 {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--border-hover);
}

.form a {
  text-decoration: underline;
}

.error {
  padding: 1rem;
  background-color: var(--error-color);
  border-radius: 0.4rem;
}

.not {
  padding: 1rem;
  background-color: var(--success-color);
  border-radius: 0.4rem;
}

.error,
.not h1 {
  font-size: 1rem;
}
