.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 38vh;
    width: 100%;
    gap: 1rem;
    overflow-y: auto;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 0.4rem;
}
