.table tbody, .table th, .table tr, .table td {
    border: 1px solid var(--border-color);
    padding: 0.2rem;
}

.table {
    max-width: 100%;
    overflow-x: auto;
}

.headerRow {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

.controlsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
}

.controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    width: fit-content;
    padding: 0.5rem;
}

.controls button {
    font-size: 1.3rem;
    transition: 0.2s;
}

.controls button:hover {
    transform: scale(1.2);
    color: var(--primary-color);
}

.controls button:active {
    transform: scale(0.9);
}

.controls button:disabled {
    color: var(--border-color);
}

.controls input {
    width: 4rem;
    padding-inline: 0.5rem;
    border: 1px solid var(--border-color);
}

