.learnContainer {
    display: flex;
    flex-direction: column;
}

.neuroVision {
    background-color: #f9fafb;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
}

.neuroVision .neuroLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bolder;
}

.neuroVision a {
    background-color: #372aac;
    color: white;
    padding: 1rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.4rem;
    text-decoration: none;
    transition: 0.2s;
    user-select: none;
}

.neuroVision a:hover {
    background-color: #2a2080;
}

.neuroVision img {
    width: 20rem;
    padding: 1rem;
}

.neuroVision h3 {
    color: #666570;
    width: 70%;
}

.visionFade {
    background: #F9FAFB;
    background: linear-gradient(180deg, rgba(249, 250, 251, 1) 40%, rgba(249, 250, 251, 1) 60%, rgba(249, 250, 251, 0) 100%);
    width: 100%;
    padding: 1rem;
}

.NNDev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.NNDev h3 {
    width: 70%;
}

.NNDev img {
    width: 40rem;
}

.NNDevFade {
    background: #232323;
    background: linear-gradient(0deg, rgba(35, 35, 35, 1) 40%, rgba(35, 35, 35, 1) 60%, rgba(35, 35, 35, 0) 100%);
    width: 100%;
    padding: 1rem;
}

.courses {
    display: flex;
    gap: 1rem;
    background-color: var(--background-color);
    min-height: 20rem;
}