.pageDash {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pageDash .lander {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgb(0, 0, 0, 1) 40%, rgb(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}

.pageDash .lander b {
    color: var(--primary-color);
}

.pageDash .lander .logo {
    width: 25rem;
}

.pageDash .lastSession {
    background: linear-gradient(180deg, rgba(35, 35, 35, 0) 27%, rgba(35, 35, 35, 0.7) 70%, rgba(35, 35, 35, 1) 100%);
    padding: 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.pageDash .lastSession button {
    background-color: var(--card-background);
    padding: 3rem;
    border-radius: 0.4rem;
    transition: 0.2s;
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.pageDash .lastSession button:hover {
    transform: scale(1.05);
    border-bottom: 1px solid var(--border-color);
}

.pageDash .lastSession i {
    font-size: 8rem;
    color: var(--primary-color);
}

.sessions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.sessionsArea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.sessionsArea .sessions .button {
    --start: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--card-background);
    padding: 2rem;
    border-radius: 0.4rem;
    width: 30rem;
    height: 16rem;
    transition: 0.2s ease-in-out;
}


.sessionsArea .sessions .button .largeIcon {
    font-size: 8rem;
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

/*.sessionsArea .sessions .button:hover {*/
/*    transform: scale(1.05) rotate(2deg);*/
/*    background-color: var(--primary-color);*/
/*    color: var(--card-background);*/
/*}*/

.sessionsArea .sessions .button:hover .largeIcon {
    color: var(--card-background);
}

.sessionArea .deleteArea .deleteButton i {
    font-size: 1.5rem;
}

.sessionsArea .deleteArea .deleteButton {
    background-color: var(--background-color);
    color: var(--error-color);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    transition: 0.2s;
}

.sessionsArea .deleteArea .deleteButton:hover {
    animation: shake 0.3s;
    background-color: var(--error-color);
    color: var(--background-color)
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0px);
    }
}


.pageDash .fade {
    background: linear-gradient(0deg, rgba(35, 35, 35, 0) 27%, rgba(35, 35, 35, 1) 100%);
    width: 100%;
    padding: 3rem;
}

.currentSessionInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.currentSessionInfo .element {
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    gap: 10rem;
    align-items: center;
    padding: 3rem;
    width: 100%;
}

.currentSessionInfo .element .networkPreview {
    background-color: var(--card-background);
    width: 30%;
    border-radius: 0.4rem;
    transition: 0.2s;
}

.currentSessionInfo .element .networkPreview:hover {
    transform: scale(1.05);
    background-color: var(--background-color);
}

.currentSessionInfo .element .networkPreview:active {
    transform: scale(0.9);
    background-color: var(--primary-hover);
}

.currentSessionInfo .title {
    color: var(--primary-color);
}

.currentSessionInfo .element .navBut {
    background-color: var(--card-background);
    padding: 1rem;
    border-radius: 0.4rem;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentSessionInfo .element .navBut:hover {
    background-color: var(--background-color);
}

.currentSessionInfo .element .navBut:active {
    background-color: var(--primary-hover);
}

.resultArea .result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.resultArea {
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.resultArea .result {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
}

.resultArea .result h3 {
    border-left: 1px solid var(--background-color);
    border-right: 1px solid var(--background-color);
    padding: 0.5rem;
    width: 100%;
}

.result .info {
    font-size: 1.5rem;
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 0.4rem;
    min-width: 39rem;
}

.resultArea .result .info {
    background-color: var(--background-color);
    border-radius: 0.4rem;
    padding: 2rem;
}

.resultArea button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
    background-color: var(--success-color);
    margin: 0 auto;
    border-radius: 0.4rem;
    transition: 0.2s;
}

.resultArea button:disabled {
    background-color: var(--border-color);
}

.resultArea button:hover {
    transform: scale(1.02);
}

.pageDash .lander .notLoggedBut {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0.4rem;
    transition: 0.2s;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.pageDash .lander .notLoggedBut:hover {
    background-color: var(--primary-hover);
}

.pageDash .lander .notLoggedBut:active {
    background-color: var(--background-color);
}

.loaderSpinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--primary-color);
    animation: l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

.lazyLoad {
    background-color: var(--primary-color);
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }
    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }
    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }
    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }
    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }
    49.99% {
        transform: scaleY(1) rotate(135deg)
    }
    50% {
        transform: scaleY(-1) rotate(0deg)
    }
    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}