.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 4rem;
  /*border-right: 0.2rem solid var(--border-color);*/
  background-color: var(--background-color);
  transition: 0.5s ease;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  overflow: hidden;
  padding-inline: 0rem;
}

.container:hover {
  width: 15rem;
}

.container:hover .tabText {
  font-size: 1rem;
}

.container:hover .tabBut {
  gap: 1rem;
}

.tabBut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;

  /*border-top: 1px solid var(--border-color);*/
  /*border-bottom: 1px solid var(--border-color);*/
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
  transition: 0.2s;
  /*border-radius: 0.4rem;*/
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.tabBut:disabled {
  color: var(--border-color);
}

.tabBut:hover {
  background-color: var(--card-background);
}

.active:hover {
  background-color: var(--primary-color);
}

.closed .tabCat {
  font-size: 0;
  font-weight: bold;
  width: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
}

.tabCat {
  width: 100%;
  font-size: 1.1rem;
  transition: 0.2s;
  font-family: 'Special Gothic Expanded One', sans-serif;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  color: var(--border-hover);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  width: 2rem;
}

.tabText {
  overflow: hidden;
  white-space: nowrap;
  transition: 0.2s;
  font-weight: bold;
  font-size: 0;
  margin: 0;
  padding: 0;
  font-family: 'Special Gothic Expanded One', sans-serif;
}

.active {
  color: white;
  background-color: var(--primary-color);
}

.spacer {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  transition: 0.5s;
  z-index: 10;
}

.fileUploadContainer {
  margin-top: auto;
  margin-bottom: 1rem;
}

.logo {
  height: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  padding-inline: 1rem;
  fill: #4f46e5;
  transition: 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.closed .logo {
  height: 3rem;
  padding: 0.2rem;
}

.loginZone {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  flex-direction: column;
  background-color: var(--card-background);
}

.loginZone button i {
  color: white;
  font-size: 1rem;
}

.loginZone button {
  cursor: pointer;
}

.warning {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  color: var(--error-color);
  background-color: var(--card-background);
  padding: 1rem 1rem;
}

.warning a {
  text-decoration: underline;
}
