.button {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    transition: 0.2s;
    border-radius: 0.4rem;
}

.button:hover {
    background-color: var(--primary-hover);
}