
.pageOpt {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.1rem;
}

.pageOpt .optimizeForm {
    gap: 1rem;
    width: 100%;
    display: flex;
}

.pageOpt .area {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    padding: 1rem;
    border-radius: 0.4rem;
    width: fit-content;
}

.formGroup {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.formGroup .element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.formGroup .element label {
    font-weight: bold;
    font-size: 1.5rem;
}

.featuresList {
    display: flex;
    flex-direction: column;
    max-height: 15rem;
    overflow-y: scroll;
}

.optimizeForm input[type="submit"] {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    transition: 0.2s;
}

.optimizeForm input[type="submit"]:hover {
    background-color: var(--primary-hover);
}

.optimizeForm input[type="submit"]:disabled {
    background-color: var(--border-color);
}

.optimizeForm {
    height: 100%;
    display: flex;
    justify-content: center;
}

.featuresList li {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}

.dataArea .uploadButton {
    background-color: var(--primary-color);
    padding: 0.7rem;
    border-radius: 0.4rem;
}

.dataArea .deleteButton {
    background-color: #d62626;
    padding: 0.7rem;
    border-radius: 0.4rem;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.pageOpt .dataArea {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.targetFeature {
    background-color: var(--card-background);
}

.targetFeature option:hover {
    background-color: var(--primary-color);
}

.dataArea button {
    transition: 0.2s;
}

.dataArea button:hover {
    transform: scale(1.1);
}

.dataArea button:active {
    transform: scale(0.9);
}

.progressZone {
    transition: 0.5s;
    overflow: hidden;
    height: 20%;
}

.progressZone h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.result .info {
    font-size: 1.5rem;
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 0.4rem;
    min-width: 40rem;
}

.result h2 {
    font-weight: bolder;
}

.resultArea {
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.resultArea h1 {
    margin: 1rem;
    font-size: 2rem;
}


.resultArea button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
    background-color: var(--success-color);
    width: 30%;
    margin: 0 auto;
    border-radius: 0.4rem;
    transition: 0.2s;
}

.resultArea button:hover {
    transform: scale(1.02);
}

.resultArea .result {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
}

.resultArea .result h3 {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 0.5rem;
    width: 100%;
}

.table tbody, .table th, .table tr, .table td {
    border: 1px solid var(--background-color);
    padding: 0.2rem;
}

.table {
    max-width: 100%;
    overflow-x: auto;
}

.table th {
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
    z-index: 10;
}

.table thead td {
    background-color: var(--primary-color);
    font-weight: bold;
}

.barFiller {
    height: 2rem;
    background-color: var(--primary-color);
    display: flex;
    transition: 0.2s;
}

.loadingBar {
    width: 100%;
    height: 2rem;
    background-color: var(--border-color);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    border-radius: 0.4rem;
}

.barWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.barWrapper p {
    font-size: 1.5rem;
}

.loader {
    width: 96px;
    height: 48px;
    display: inline-block;
    position: relative;
    background: #FFF;
    border-radius: 48px 48px 0 0;
    box-sizing: border-box;
    overflow: hidden;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 12px;
    border-radius: 24px 24px 0 0;
    background: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.loader::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 32px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background: var(--primary-color);
    transform-origin: 50% 100%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite alternate;
}

@keyframes animloader {
    0% {
        transform: rotate(-70deg);
    }
    10% {
        transform: rotate(-40deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    55% {
        transform: rotate(40deg);
    }
    70% {
        transform: rotate(45deg);
    }
    90% {
        transform: rotate(50deg);
    }
    95% {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(80deg);
    }
}