.chatContainer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 29vw;
    width: 50vw;

    height: 55vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;

}

/* Chat.module.css */
@keyframes blink {
    0%, 100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

.cursor {
    display: inline-block;
    width: 8px;
    background-color: #333;
    margin-left: 4px;
    animation: blink 1s infinite;
}


.status {
    width: 100%;
    background-color: var(--card-background);
    padding: 0;
}

.chatArea {
    width: 100%;
    height: 100%;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    justify-content: space-between;
}

.toggle {
    padding: 1vh;
    height: 4vh;
    background-color: var(--card-background);
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    font-weight: bold;
    font-family: "Arial Black";
}

.chatArea input[type="text"] {
    border: 1px solid var(--border-color);
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    width: 85%;
}

.chatArea button {
    width: 15%;
    background-color: var(--primary-color);
    padding: 0.6rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.chatArea form {
    display: flex;
    justify-content: center;
    align-content: center;
}