.cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    background-color: var(--background-color);
    padding: 1rem;
    justify-content: center;
}

.cont button {
    background-color: var(--card-background);
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    width: 30rem;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cont button h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.cont button i {
    font-size: 4rem;
}

.cont button:hover {
    background-color: var(--primary-color);
    color: var(--card-background)
}