.cont {
    z-index: 9;
    position: fixed;
    top: 0;
    width: 90vw;
    background-color: var(--background-color);
    border-left: 0.2rem solid var(--border-color);
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 2rem;
    transition: 0.5s ease-in-out;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 20;
    width: 100%;
}

.bar h1 {
    font-size: 2rem;
    font-weight: bold;
}

.bar button {
    font-size: 1.5rem;
    transition: 0.2s;
    color: var(--text-light)
}

.bar button:hover {
    transform: scale(1.1);
    color: var(--text-color);
}

.bar img {
    height: 2.5rem;
}