.cover {
    background-image: radial-gradient(var(--background-color) 4px, transparent 4px),
    radial-gradient(var(--background-color) 4px, transparent 4px);
    background-size: 10px 10px;
    background-position: 0 0,
    5px 5px;
    background-color: #00000000;
    width: 1.2rem;
    height: 100vh;
    z-index: 12;
    position: absolute;
}

.bar {
    background-color: var(--primary-color);
    background: linear-gradient(
            90deg,
            var(--primary-color) 0%,
            rgb(58, 51, 159, 1) 20%,
            rgba(41, 37, 110, 0.63) 50%,
            rgba(155, 57, 67, 0) 100%
    );
    width: 1.5rem;
    height: 100vh;
}

.blur {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: 11;
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: 0;
}

.cont {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    background-color: #1d1a1b;
    -webkit-box-shadow: 0px 4px 40px 14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 40px 14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 40px 14px rgba(0, 0, 0, 0.75);

    height: 100vh;
    width: 1.4rem;
}


@media only screen and (max-width: 786px) {
    .cont {
        display: none;
    }
}
