.profilePage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 3rem;
    justify-content: center;
    align-content: center;
}

.profileArea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--card-background);
    padding: 3rem;
    border-radius: 0.4rem;
}

.profileArea form {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 0.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profileArea .logoutBut {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: bolder;
    font-size: 1.2rem;
    transition: 0.2s;
}

.profileArea .logoutBut:hover {
    background-color: var(--error-color);
}

.profileArea .logoutBut:active {
    background-color: var(--primary-hover);
}

.loaderSpinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--primary-color);
    animation: l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

.lazyLoad {
    background-color: var(--primary-color);
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }
    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }
    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }
    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }
    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }
    49.99% {
        transform: scaleY(1) rotate(135deg)
    }
    50% {
        transform: scaleY(-1) rotate(0deg)
    }
    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}