.toggleButtons {
    display: flex;
    border: 1px solid var(--border-color);
    gap: 0.2rem;
    width: fit-content;
}

.toggleButtons button {
    padding: 0.5rem 1.5rem;
    transition: 0.2s;
}

.toggleButtons button:not(.active) {
    background-color: var(--background-color);
}

.toggleButtons button:not(.active):hover {
    background-color: var(--card-background);
}

.divider {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.area {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--card-background);
    padding: 1rem;
    min-width: 50%;
    min-height: 90vh;
}

.networkView {
    width: 100%;
    border: 1px solid var(--border-color);
    height: 100%;
}

.title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--card-background);
}
