.toggleButtons {
    display: flex;
    /*border: 1px solid var(--border-color);*/
    gap: 0.2rem;
    width: fit-content;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}

.toggleButtons button {
    padding: 0.5rem 1.5rem;
    transition: 0.2s;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}

.toggleButtons button:not(.active) {
    background-color: var(--background-color);
}

.toggleButtons button:not(.active):hover {
    background-color: var(--card-background);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.area {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    padding: 1rem;
    height: fit-content;
    border-radius: 0.4rem;
    transition: 0.2s;
}

.networkView {
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background-color: var(--card-background);
    background: radial-gradient(circle, transparent 20%, var(--card-background) 20%, var(--card-background) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--card-background) 20%, var(--card-background) 80%, transparent 80%, transparent) 25px 25px, linear-gradient(var(--background-color) 2px, transparent 2px) 0 -1px, linear-gradient(90deg, var(--background-color) 2px, var(--card-background) 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.networkView:active {
    cursor: grabbing;
}

.overlay .title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 1rem;
    background-color: var(--card-background);
    border-radius: 0.4rem;
}

.overlay .dataArea {
    display: flex;
    gap: 5rem;
}

.uploadButton {
    background-color: var(--primary-color);
    padding: 0.7rem;
    border-radius: 0.4rem;
}

.deleteButton {
    background-color: #d62626;
    padding: 0.7rem;
    border-radius: 0.4rem;
}

.dataArea button {
    transition: 0.2s;
}

.dataArea button:hover {
    transform: scale(1.1);
}

.dataArea button:active {
    transform: scale(0.9);
}

.sArea {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    padding: 1rem 0.8rem;
    gap: 0.5rem;
    border-radius: 0.4rem;
    max-height: 50%;
    transition: 1s;
    height: fit-content;
    overflow: hidden;
    font-size: medium;
}

.sArea .subtitle {
    user-select: none;
}

.setting {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    transition: 0.2s;
}

.closedSArea {
    height: 3rem;
}

.legendItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legendColor {
    padding: 0.4rem;
    border-radius: 0.2rem;
}

.nodeDetails {
    height: fit-content;
    bottom: 0;
    left: 4rem;
    padding: 0;
    transition: 0.2s;
    position: fixed;
}

.nodeDetails ul {
    list-style: circle;
    margin-left: 1rem;
}

.nodeDetails .subtitle {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.nodeDetails .subtitleWrapper {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: var(--card-background);
}

.setting label {
    font-weight: bold;
}

.setting input[checked="true"] {
    background-color: var(--primary-color);
    color: white;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.sArea h1 {
    font-size: x-large;
    font-weight: bold;
}

